Udemy
.ICEauthority
.Xauthority
.atom/
.bash_history
.cache/
.compiz/
.config/
.dmrc
.freemind/
.gconf/
.gnupg/
.java/
.local/
.mozilla/
.mysql/
.mysql_history
.oracle_jre_usage/
.pki/
.thunderbird/
.viminfo
.xsession-errors
.xsession-errors.old
